include "~/.nix-profile/share/nano/*.nanorc"

set autoindent
unset backup
set boldtext
set brackets ""
unset casesensitive
set cutfromcursor
set fill -8
set historylog
set morespace
unset mouse
unset multibuffer
set noconvert
set nohelp
unset nonewlines
set nowrap
unset preserve
set punct "!.?"
unset quickblank
unset rebinddelete
set regexp
set smarthome
set smooth
set softwrap
set speller "aspell -c -x"
unset suspend
set tabsize 4
set tabstospaces
unset tempfile
unset view
set wordbounds

## Menus:
# all main search replace replacewith gotoline writeout
# insert extcmd help spell browser whereisfile gotodir

bind F1 help all
bind ^i cancel all
bind ^x exit all
bind ^s whereis all
bind ^t up all
bind ^n down all
bind ^b left all
bind ^g right all
bind ^k cut all
bind ^y paste all
bind ^w pageup all
bind ^v pagedown all
bind ^q verbatim all
bind ^d delete all
bind ^z undo all
bind ^r refresh all
unbind ^u all
